#tweet-text {
  width: 100%;
  resize: none;
  background: none;
  border-bottom-width: thick;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
}


form > div {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', sans-serif;
}

div > button {
  background-color: #4056A1;
  color: #FFFFFF;
}

.new-tweet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.newTweetForm {
  width: 100%;
}

label {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
}

.red-font {
  color: red;
}

